

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --color-primary: #10B981;
  --color-natural-1: #FFFFFF;
  --color-natural-2: #FAFAFA;
  --color-natural-3: #F3F4F6;
  --color-natural-4: #cbd5e1;
  --color-natural-5: #A1A1AA;
  --color-natural-6: #6B7280;
  --color-natural-7: #27272A;
  --color-natural-8: #334155;
  --color-natural-9: #18181B;
}

html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: var(--color-natural-7);
}
